/* Class Overrides for Dash Core Components
*/

/*
.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: grey;
  color: #fff
}

.CalendarDay__selected_span {
    background: #a17f1a;
    color: #fff;
  }
*/